GUIDs returned in wrong format not matching the RFC 4122 section 3 requirements

Hello everyone,

I experience an issue which is caused by node-mssql returning a not standard conform GUID.

### Expected behaviour:

Because of "RFC 4122 section 3", GUIDs have to contain only lower case letters for output.

So a GUID has to have the format
60595f88-b726-46f2-91ec-886da79e6203

### Actual behaviour:

But node-mssql outputs GUIDs as
60595F88-B726-46F2-91EC-886DA79E6203

This lead to comparison problems, because "60595f88-b726-46f2-91ec-886da79e6203" does not equals "60595F88-B726-46F2-91EC-886DA79E6203" in JS.

### Software versions

  * NodeJS: 10.x
  * node-mssql: 4.2.3
  * SQL Server: 2012


------------------------------------

What can be done to resolve this problem with node-mssql?

Regards,
Michael

This is a SQL server issue; the values are returned verbatim. We or the Tedious library could go about lowercasing the values but I suspect that would break the large amount of code in the wild that relies upon this "quirk".

So what about offering and "option" to opt-in for lowercasing the GUIDs?

This would not affect existing projects, but will offer node-mssql to become RFC conform if needed.

This could make it into v5 if you'd like to open a PR for it

Sorry but that's begging the question. What is the actual business case?

Why is `someUuidField.toLowerCase() === someOtherUuidField.toLowerCase()` that painful to do?

Either way, this logic would belong in the Tedious library, not here, IMHO.

> @dhensby : yeah, that would be great. How to do that?

How to open a PR? You fork this repo, create a new branch to work in, add the feature and tests and then come back to this repo on github and there should be a nice "open pull request" button for you...

How to actually make it lowercase the columns? no idea, I don't know how you'd determine that an arbitrary column is a `UniqueIdentifier` and thus that it should be lowercased.

I agree with @willmorgan that we really should be very cautious about changing data that is returned. we are meant to be a lib for fetching data from the DB not an opinionated gatekeeper

> Either way, this logic would belong in the Tedious library, not here, IMHO.

That's probably a good idea

@dhensby @willmorgan 
`someUuidField.toLowerCase() === someOtherUuidField.toLowerCase()` is painful if it needs to be done at 1000s of code positions, is a performance issue and is easy to forget. 

So in my eyes, this it nothing what a "end user" should have to do at every single code position if the expected and RFC defined behavior is without any doubt. GUID must be a GUID and safe to compare without always remembering to lowerCase it.

But for sure this might be a issue for the Tedious lib, not for you guys. Shall I open an issue at the tedious lib?

Yes please, if you feel strongly about it. Tedious is generally responsible for type conversion from the SQL Server world into JavaScript world.

Ok, thx guys! I'll gona try my luck over there ;)

This is being worked on in https://github.com/tediousjs/tedious/pull/855